.container{
}
.container::before{
  /* 这里的0.5表示0.5s之后执行动画 */
  animation:rotateA 2s linear infinite .5s;
}

.container::after{
  animation: rotateB 2s linear infinite;
}
@keyframes rotateA {
  0%,
  25% {
    transform: rotate(0deg);
  }

  50%,
  75% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateB {
  0%,
  25% {
    transform: rotate(90deg);
  }

  50%,
  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(450deg);
  }
}
