/* 导入按钮的基础样式 */
@import url(assets/styles/btn.css);
/* 用来注入tailwind的基础样式，tailwind预设，
  旨在消除浏览器的不一致性
  但是这会导致：
  1. 默认外边距被移除
  2. 标题没有样式
  3. 列表没有样式
  4. 图片是块级元素
  5. 按钮默认有轮廓
  6. 边框样式被全局重置
 */
@tailwind base;
@tailwind utilities;

/* 用于扩展预设 */
@layer base{
  h1{
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* 自定义变量 */

  /* 按钮样式 */
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --border-bg:#d4d4d4;
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  
}
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #fff;
  position: relative;
  width:100%;
  overflow-x: hidden;
}
button{
  cursor: pointer;
}
button:focus{
  outline:none;
}
input:focus{
  outline: none;
}
/* iconfont图标公共样式 */
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}