:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* 自定义变量 */

  /* 按钮样式 */
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --border-bg:#d4d4d4;
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  
}
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #fff;
  width:100%;
  overflow-x: hidden;
}
button{
  cursor: pointer;
}
button:focus{
  outline:none;
}
input:focus{
  outline: none;
}