@keyframes slider-move{
  0%{
    transform: translateX(0);
    display: block;
  }
  15%{
    transform: translateX(0%); 
  }
  20%{
    transform: translateX(-20%);
  }
  35%{
    transform: translateX(-20%);
  }
  40%{
    transform: translateX(-40%);
  }
  55%{
    transform: translateX(-40%);
  }
  60%{
    transform: translateX(-60%);
  }
  75%{
    transform: translateX(-60%);
  }
  80%{
    transform: translateX(-80%);
  }
  99.9%{
    transform: translateX(-80%);
    display: block;
  }
  100%{
    display: none;
    transform: translateX(0);
  }
}
.animate-slider-move{
  animation: slider-move 10s linear infinite;
}


@keyframes show {
  0%{
    transform: scale(0);
  }
  30%{
    transform: scale(1.4);
  }
  100%{
    transform: scale(1);
  }
}
.animate-replay-show{
  animation:show .2s ease-out;
}

@keyframes goIn {
  0%{
    transform:rotate(120deg);
  }
  30%{
    transform: rotate(-20deg);
  }
  60%{
    transform: rotate(10deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
.animate-num-in{
  transform-origin: bottom center;
  animation:goIn .5s ease-in;
}

@keyframes goOut {
  0%{
    transform: rotate(0deg);
  }
  60%{
    transform: rotate(20deg);
  }
  100%{
    transform: rotate(-120deg);
  }
}
.animate-num-out{
  transform-origin: bottom center;
  animation: goOut .5s ease-in;
}

.animate-bg {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}

@keyframes grow{
  0%{
    transform: scaleX(0);
  }
}